<mat-card-content>
  <div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center" >

    <button mat-raised-button color="primary" (click)="showBody()" style="margin-right:20px">List Cliente</button>
    <button mat-raised-button color="primary" (click)="openCreateClient()" >Nuevo Cliente</button>

  </div>
  </div>

    <div fxLayout="row" fxLayoutAlign="center center">
          <div>
            <h1>List Of client</h1>


          </div>
    </div>
<div fxLayout="row" *ngIf="showbody">
  <table mat-table [dataSource]="clients" class="mat-elevation-z8">


    <!-- Position Column -->
    <ng-container matColumnDef="firstNameClient">
      <th mat-header-cell *matHeaderCellDef>First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstNameClient}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Telephone </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>



    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol2">
      <th mat-header-cell *matHeaderCellDef> Nit Client </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol2}} </td>
    </ng-container>

    <ng-container matColumnDef="symbol3">
      <th mat-header-cell *matHeaderCellDef> Ci Client </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol3}} </td>
    </ng-container>

<!--<ng-container matColumnDef="acciones2">-->
<!--      <th mat-header-cell *matHeaderCellDef> Acciones </th>-->
<!--      <td mat-cell >-->
<!--        <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>-->

<!--      </td>-->
<!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

</mat-card-content>




