<script src="../services/client.service.ts"></script>
<mat-card-content>
  <div fxLayout="row" fxLayoutAlign="center center" >
  <button mat-raised-button color="primary" (click)="NewClient" >Nuevo Cliente</button>
  <button mat-raised-button color="primary" (click)="ListClient">List Cliente</button>
    <h2></h2>
<!--  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">-->

<!--    <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">-->
<!--      <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element "> {{element.disCol}}-->
<!--      </mat-cell>-->
<!--    </ng-container>-->

<!--    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--  </mat-table>-->
  </div>
</mat-card-content>
